<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.brianyang.www"
	version 	= "1.0.0">

	<name>dj.BrianYang.com</name>

	<description>
    Built to order songs
	</description>

	<author href="brianyang.com"
		email="mail@brianyang.com">
	  dj Brian Yang
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
